/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
ul,
li {
    list-style: none;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('beach/fonts/AvenirNextCyr-Bold.woff2') format('woff2'),
        url('beach/fonts/AvenirNextCyr-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('beach/fonts/AvenirNextCyr-Medium.woff2') format('woff2'),
        url('beach/fonts/AvenirNextCyr-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('beach/fonts/AvenirNextCyr-Regular.woff2') format('woff2'),
        url('beach/fonts/AvenirNextCyr-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



/*--------------------*/
.wrapper{
    font-family:  'Avenir Next Cyr' ;
    background-color: #f4d1af; 
    max-width: 1600px;
max-height: 1200px;
    position: relative;   
    }

.tree{      
    position: absolute;
    left: 0;
    bottom: 0;
}

     
.content{
    display: inline-block;
  margin-top: 63px;
  margin-left: 67px;
  background-color: #fff;
  width: 1466px;
  height: 1073px;
  position: relative;
       }

    .player {
       position: absolute;
       right: -38px;
       bottom: -42px;
       }
    .down-img{
        position: absolute;
        right: -38px;
        bottom: -42px;
       }

       .ball{
           position: absolute;
           bottom: 555px;
           right: 180px;
       
       }
   
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 157px;
    padding: 64px 49px 0 ;
    
}

.logo {
    margin-right: 191px;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-right: 425px;
    
}
nav a:nth-child(1) {
    margin-right: 68px;
   
}

nav a:nth-child(2) {
    margin-right: 88px;
}

a {    
    text-decoration: none;
    color: inherit;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
}

.nav :hover {
    color: #01d98b;
}

.btn {
    width: 185px;
    height: 73px;
    border: 1px solid #000;
    border-radius: 12px;
    background-color: Transparent;
    background-repeat: no-repeat;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    z-index: 4;
}

.btn:hover {
    background-color: yellow;
    z-index: 4;
}
.main{
    position: relative;
}
h2 {
    width: 400;
    font-size: 40px;
    margin-left: 83px;
    margin-bottom: 2px;
    font-weight: normal;
    font-style: normal;
}

h1 {
    width: 700;
    font-size: 74px;
    margin-left: 82px;
    margin-bottom: 16px;
    font-weight: bold;
    font-style: normal;
}
p {
    width: 400;
    font-size: 24px;
    margin-left: 86px;
    line-height: 42px;
    margin-bottom: 96px;
}
.search{
display: flex;
justify-content: space-between;
margin-bottom: 20px;
margin-left: 80px;
border: 1px solid #01d98b;
width: 571px;
height: 70px;
border-radius: 5px;

}
.img{
    flex: 0 0;
    padding: 20px;
}


.input{
    flex: auto;
    align-self: center;
    display: inline-block;  
    font-size: 20px;  
}
.btn_search{
   width: 48px;
    height: 48px;
    border-radius: 50%;
    background: url(beach/Ellipse\ .png) no-repeat center;
    padding: 15px ;
    margin: 10px;
}

.second span {
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
}


